* {
    margin:0;
    padding: 0;

}

:root{
        --cor0: #118ab2;
        --cor2: #06d6a0;
        --cor3: #f051ff;
        --cor4: #ffcd44;
        --cor5: #3f4142;
}

/* 
.inner_main_menu {
    margin:0 auto;
    padding:0;
    list-style:none;
}
*/

#main_menu{
    width: 100%;
    position: relative;
}
.inner_main_menu ul{
    margin:0;
    padding:0;
    list-style:none;
    text-align: right;
}
.inner_main_menu ul li{
    float: none;
    display: inline-block;
}
/* Colocando do lado esquerdo */
.inner_main_menu ul li:nth-child(1){
    float: left;
   }
.inner_main_menu ul li:nth-child(2){
    float: left;
   }
.inner_main_menu ul li a{
    
    padding:0;
    font-size: 1.5em;
    text-decoration: none;
    display:block;
    padding: 1em;
    cursor: pointer;
}
.inner_main_menu ul li a:hover{
    color: var(--cor0);

}
.logo_area{
    width:200px;
    position: absolute; 
    left:50%;
    margin-left:-100px;
    padding-top: 10px;

}